#!/usr/sbin/nft -f

define iface = "{{ iface }}"

add set ip filter external_wg_ifaces { type ifname; } 
add map ip filter wg_iface_to_chain { type ifname : verdict; }
delete element ip filter external_wg_ifaces { $iface }
delete element ip filter wg_iface_to_chain { $iface }
flush chain ip filter {{ iface }}_forward
delete chain ip filter {{ iface }}_forward
