#!/usr/sbin/nft -f

table ip filter {
		{% if not isolated|default(false) %}
		set external_wg_ifaces { type ifname; elements = { {{ iface }} }; }
		{% else %}
		# set external_wg_ifaces { type ifname; elements = { {{ iface }} }; }
		{% endif %}
		map wg_iface_to_chain { type ifname: verdict; elements = { {{ iface }} : jump {{ iface }}_forward }; }

		chain {{ iface }}_forward {
				iifname {{ iface }} oifname {{ iface }} accept
				{% if not isolated|default(false) %}
				iifname {{ iface }} oifname {{ external_iface }} accept
				{% else %}
				# iifname {{ iface }} oifname {{ external_iface }} accept
				{% endif %}
		}
}
