#!/usr/sbin/nft -f

define external_iface = "{{ net_iface }}"

table ip filter
add chain ip filter wg_forward
flush chain ip filter wg_forward

table ip filter {
	set external_wg_ifaces { type ifname; }
	map wg_iface_to_chain { type ifname: verdict; }

	chain FORWARD {
		type filter hook forward priority filter; policy drop;
		jump wg_forward
	}
	chain wg_forward {
		iifname vmap @wg_iface_to_chain;
		iifname $external_iface oifname @external_wg_ifaces ct state == { established, related } accept
	}
}

table ip nat
add chain ip nat wg_postrouting
flush chain ip nat wg_postrouting

table ip nat {
	chain POSTROUTING {
		type nat hook postrouting priority srcnat; policy accept; 
		jump wg_postrouting
	}
	chain wg_postrouting {
		oifname $external_iface masquerade
	}
}


