[Interface]
Address = {{ address }}/{{ mask|default(25) }}
ListenPort = {{ port }}
PrivateKey = {{ private_key.stdout }}
PostUp = /etc/wireguard/firewall_up.%i.nft
PostDown = /etc/wireguard/firewall_down.%i.nft
