. {
    bind {{ env "LISTEN_ADDR" }}
    forward . tls://176.103.130.130 {
        tls_servername dns.adguard.com
        health_check 5s
    }
    cache 30
}

{{ or (env "DOMAIN") "hackspace" }} {
    bind {{ env "LISTEN_ADDR" }}
    forward . dns://{{ env "LISTEN_ADDR" }}:8600 {
        health_check 5s
    }
}
