{{ $node := "" }}
{{ $dc := "" }}
{{ $domain := "" }}

{{ with secret "cubbyhole/node" }}
    {{ $node = .Data.name }}
    {{ $dc = or .Data.dc "dc1" }}
{{ end }}

{{ with secret "cluster/consul" }}
    {{ $domain = or .Data.data.domain "hackspace" }}
{{ end }}

{{ with secret (printf "cluster/consul/%s" $node) }}
    {{ $role := "client" }}
    {{ $server_mode := or .Data.data.server_mode "false" }}
    {{ if eq $server_mode "true" }}
        {{ $role = "server" }}
    {{ end }}

    {{ $cert_issue := printf "pki_consul/issue/consul-%s-%s" $role $dc }}
    {{ $common_name := printf "common_name=%s.%s.%s" $role $dc $domain }}
    {{ with secret $cert_issue $common_name }}
{{ .Data.certificate }}
    {{ end }}
{{ end }}

