{{ $node := "" }}

{{ with secret "cubbyhole/node" }}
    {{ $node = .Data.name }}
{{ end }}

{{ with secret (printf "cluster/nomad/%s" $node) }}
    {{ $role := "client" }}
    {{ $server_mode := or .Data.data.server_mode "false" }}

    {{ if eq $server_mode "true" }}
        {{ $role = "server" }}
    {{ end }}

    {{ $cert_issue := printf "pki_nomad/issue/nomad-%s" $role }}
    {{ $common_name := printf "common_name=%s.global.nomad" $role }}
    {{ with secret $cert_issue $common_name }}
{{ .Data.issuing_ca }}
    {{ end }}
{{ file (printf "%s/vault.root.crt" (env "CERT_DIR")) }}
{{ end }}
