#!/bin/sh

set -eu

function remount() {
    set -eu
    mount_point="{{ mount_point }}"
    tmp_dir=$(mktemp -d -p /tmp)
    mount --bind /tmp ${mount_point}/tmp
    mount --rbind /dev ${mount_point}/dev

    pivot_root $mount_point ${mount_point}/${tmp_dir}
    mount -t proc none /proc
    mount -t sysfs none /sys
    mount -t cgroup2 none /sys/fs/cgroup
    cd /
    umount -R -l $tmp_dir
    rmdir $tmp_dir
    exec /bin/sh "$@"
}
export -f remount
unshare -m /bin/sh -c 'remount "$@"' sh "$@"
