.checkbox {
  all: unset;
}
.checkbox label {
  all: unset;
}

.checkbox label::after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .15em;
  width: 1.0em;
  height: 1.0em;
  float: left;
  margin-right: .5em;
}

.checkbox .cr .cr-icon {
  position: absolute;
  font-size: .5em;
  line-height: 0;
  top: 50%;
  left: 3%;
}

.checkbox label input[type="checkbox"] {
  display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon {
  opacity: 0;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr {
  opacity: .5;
}

.rd
{
	width:13px;
	height:13px;
	padding:3px;
	position:relative;
	margin-top: 2px;
	margin-right:7px;
	background-color:#efeded;
	float:left;
}
.rd
{
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
}

.rd::before
{
	content: '';
	position: absolute;
    left: 0;
    top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	border: 0.3em solid #4CAF50;

	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
}

.radio label {
	padding-left: 0;
}

.radion label::after {
  content: '';
  display: table;
  clear: both;
}

.radio label input[type="radio"] {
	display:none;
}

.radio label input[type="radio"]~.rd::before {
  opacity: 0;
}

.radio label input[type="radio"]:checked~.rd::before {
  opacity: 1;
}

select.monthselect, select.yearselect {
    width: 50px;
    margin: 0 auto;
    background: #eee;
    border: 1px solid #eee;
    padding: 2px;
    outline: 0;
    font-size: 12px;
}
