<div class="row">
    <div class="col-md-12">
        <h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Help</h1>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Account configuration</h3>
    </div>
    <div class="panel-body">
        <p>
            Use the following configuration for your desktop email client.
        </p>
    </div>

    <table class="table table-responsive table-bordered">
        <thead>
            <tr>
                <th>
                    &nbsp;
                </th>
                <th>
                    IMAP
                </th>
                <th>
                    SMTP
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    Description
                </th>
                <td>
                    Access all messages and mailboxes
                </td>
                <td>
                    Send messages
                </td>
            </tr>
            {{#if user}}
            <tr>
                <th>
                    E-mail address
                </th>
                <td>
                    {{user.username}}@{{serviceDomain}}
                </td>
                <td>
                    {{user.username}}@{{serviceDomain}}
                </td>
            </tr>
            {{/if}}
            <tr>
                <th>
                    Server
                </th>
                <td>
                    {{setup.imap.hostname}}
                </td>
                <td>
                    {{setup.smtp.hostname}}
                </td>
            </tr>
            <tr>
                <th>
                    Port
                </th>
                <td>
                    {{setup.imap.port}}
                </td>
                <td>
                    {{setup.smtp.port}}
                </td>
            </tr>
            <tr>
                <th>
                    Security
                </th>
                <td>
                    {{#if setup.imap.secure}}
                    TLS/SSL
                    {{else}}
                    STARTTLS
                    {{/if}}
                </td>
                <td>
                    {{#if setup.smtp.secure}}
                    TLS/SSL
                    {{else}}
                    STARTTLS
                    {{/if}}
                </td>
            </tr>
            <tr>
                <th>
                    Username
                </th>
                {{#if user}}
                <td>
                    {{user.username}}
                </td>
                <td>
                    {{user.username}}
                </td>
                {{else}}
                <td>
                    Your username
                </td>
                <td>
                    Your username
                </td>
                {{/if}}
            </tr>
            <tr>
                <th>
                    Password
                </th>
                {{#if use2fa}}
                <td colspan="3">
                    Two factor authentication is enabled on your account.
                    Generate application specific passwords to use IMAP and SMTP.
                </td>
                {{else}}
                <td>
                    ********
                </td>
                <td>
                    ********
                </td>
                {{/if}}
            </tr>
        </tbody>
    </table>
</div>
