
<div class="row">
        <img src="/logo.svg" class="col-md-12 col-md-2 col-sm-3 col-xs-4"/> 
        <h1 class="col-md-10 col-sm-10 col-xs-10">{{serviceName}}</h1>
</div>

<div class="row">
    <div class="col-md-12">

        <h3>Features</h3>
        <ul>
            <li>
                Generated email address is a real address and can be used with any mail client. IMAP is handled by WildDuck, MX messages are received by Haraka and outgoing messages are delivered by ZoneMTA.
            </li>
            <li>
                All data is stored in a sharded MongoDB database. If there is not enough space then adding a new shard should fix that
            </li>
            <li>
                Mail daemon processes avoid touching the filesystem (WildDuck and ZoneMTA do not touch file system after startup, Haraka writes and reads messages from a queue and spool folder) and do not execute any shell commands. Daemon processes run as unprivileged
                users. All compiled node dependencies are optional and can be removed to avoid potential buffer overflows and such.
            </li>
            <li>
                Messages sent through SMTP are automatically copied to the <em>Sent Mail</em> folder. This mostly affects POP3 users as IMAP clients usually upload the message by themselves
            </li>
            <li>
                When sending, non-authorized From: address in the message header is replaced. <em>"From: User Name &lt;otheruser@domain&gt;"</em> becomes <em>"From: User Name &lt;username@example.com&gt;"</em>
            </li>
            <li>
                Dots in usernames and addresses are ignored. <em>user.name@example.com</em> is the same as <em>username@example.com</em>
            </li>
            <li>
                Labels in incoming email addresses are ignored. <em>user+label@example.com</em> is the same as <em>user@example.com</em>
            </li>
            <li>
                Moving messages to and out of the Junk Mail folder raises a junk status change event for that message. This is currently not used though
            </li>
            <li>
                Enabling TOTP based 2FA disables account password for IMAP, POP3 and SMTP
            </li>
            <li>
                Application Specific Password comes with automatically generated mobileconfig file for iOS/OSX mail applications
            </li>
            <li>
                Incoming messages are checked against user defined filters. Matching messages can be marked as seen or flagged. Messages can be moved to specific mailbox folder. Messages tagged as spam are moved to Junk Mail folder.
            </li>
            <li>
                Messages can be forwarded to another email address or uploaded to an URL account wide (all incoming messages are forwarded) or filter based (only messages matching specific filter are forwarded)
            </li>
            <li>
                All authentication related events are logged and shown in the account security page. This behavior will change in the future as mail clients generate a lot of noise (re-authenticating after short period of time). Such logins should be joined somehow into
                single events.
            </li>
            <li>
                This web service also makes use of the built-in GPG encryption feature of WildDuck where all cleartext messages are encrypted with user's public key before stored to disk. The encryption step is applied after filtering step so you could still filter messages by body text.
            </li>
            <li>
                All new users get <a href="https://github.com/nodemailer/wildduck/tree/master/emails">default emails generated</a> and injected to INBOX as flagged messages.
            </li>
        </ul>
    </div>
</div>
