<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="{{serviceName}} web client">
<meta name="author" content="Code$$InterceptoR">

<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon.png"/>

<title>{{serviceName}}
    {{#if title}} | {{title}}{{/if}}
</title>
<link rel="stylesheet" href="/bootstrap-3.3.7/css/lumen.css">
<link rel="stylesheet" href="/css/wildduck.css">
<link rel="stylesheet" href="/css/checkbox.css">
<link rel="stylesheet" href="/css/fonts.css">
