<tr id="msg_{{id}}" class="messagerow messagerow-{{mailbox}}-{{id}} {{#if seen}}message-seen{{else}}message-unseen{{/if}}">
    <td class="messagerow-spacer"></td>

    <td class="messagerow-checkbox">
		<div class="checkbox">
			<label>
        		<input type="checkbox" data-mailbox="{{mailbox}}" data-message="{{id}}" class="message-checkbox" />
				<span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
			</label>
		</div>
    </td>

    <td class="messagerow-star">
        <a href="#" class="message-star {{#if flagged}}flagged{{else}}unflagged{{/if}}" data-mailbox="{{mailbox}}" data-message="{{id}}"><span class="glyphicon glyphicon-{{#if flagged}}star{{else}}star-empty{{/if}}" aria-hidden="true"></span></a>
    </td>

    <td class="messagerow-from">
        <a href="/webmail/{{mailbox}}/message/{{id}}" class="messagerow-link">
            {{{fromHtml}}}
        </a>
    </td>

    <td class="messagerow-subject">
        <a href="/webmail/{{mailbox}}/message/{{id}}" class="messagerow-link">
            <span class="messagerow-subject-content">
                {{#if mailboxName}}
                    <span class="label label-default">{{mailboxName}}</span>
                {{/if}}

                {{subject}}{{#if intro}} <span class="text-muted" style="font-weight: normal;">– {{intro}}</span>{{/if}}
            </span>
        </a>
    </td>

    <td class="messagerow-info">
        <a href="/webmail/{{mailbox}}/message/{{id}}" class="messagerow-link">
            {{#if encrypted}}
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            {{else}}
                {{#if attachments}}
                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                {{/if}}
            {{/if}}
        </a>
    </td>

    <td class="messagerow-date">
        <a href="/webmail/{{mailbox}}/message/{{id}}" class="messagerow-link">
            <span class="datestring-fixed" title="{{date}}">
                {{date}}
            </span>
        </a>
    </td>

    <td class="messagerow-spacer"></td>
</tr>
